# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
env/
.env

# Models and large files
*.h5
*.zip
Data/
datasets/

# Gradio cache
.gradio/
